* {
    margin: 0;
    padding: 0;
}

#topo {
    height: 20vh;
    background-color: #ccc;
    display: flex;
}

#centro {
    height: 60vh;
    background-color: #777;
    display: flex;
}

#rodape{
    height: 20vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;

}

#rodape a {
    margin-right: 10px;
}