* {
    margin: 0;
    padding: 0;
}

#topo {
    height: 20vh;
    background-color: #ccc;
    display: flex;
}

#centro {
    height: 60vh;
    background-color: #777;
    display: flex;
}

#rodape{
    
}